<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <h2 class="titulo">Ingreso Datos Empaque</h2>
  <p style="display: flex;" class="FechaYHora">{{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="salida()" type="button" class="btn btn-secondary" data-mdb-ripple-init>SALIR</button>
</div>
<img class="imgSalticas" [src]="imgSalticas"/>
<form [formGroup]="formulario">
  <div>
    <h2 class="txt-maquina">
      MÁQUINA
    </h2>
    <mat-form-field class="selector-maquina" style="position: absolute;">
    <mat-label>Máquinas</mat-label>
      <mat-select formControlName="maquinaControl">
        <mat-option *ngFor="let option of optionsMaquina" [value]="option.id">{{option.descripcion}}</mat-option>
      </mat-select>
      <mat-hint align="end" style="color: white;">
        Seleccione la máquina
      </mat-hint>
    </mat-form-field>
  </div>
  <h2 class="txt-lote">
    LOTE
  </h2>
  <mat-form-field class="cont-ingreso-lote">
    <mat-label>Número lote</mat-label>
    <input matInput type="text" [(ngModel)]="value" formControlName="loteControl">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
<div class="btn-group" role="group" aria-label="Basic example">
  <button
    (click)="regreso()"
    type="button"
    class="btn btn-primary" 
    style="background-color: #F49929;">
  ATRÁS</button>
  <button 
    (click)="ingresoEmpaque()"
    type="button"
    class="btn btn-primary">
  INGRESAR</button>
</div>