.txt-maquina{
    margin-top: 2%;
    color: white;
    margin-left: 25%;
}

.selector-maquina{
    margin-left: 20%;
}

.txt-lote{
    color: white;
    margin-left: 26%;
    margin-top: 10%;
}

.cont-ingreso-lote{
    margin-left: 20%;
    width: 15%;
}

.btn-primary{
    margin-top: 5%;
    margin-left: 23%;
    background-color: #006EB6;
}

.btn-secondary{
    background-color: #F49929;
    margin-top: 2%;
    margin-left: 2%;
    width: 7%;
    height: 6%;
}

.FechaYHora{
    font-size: 18px;
    color: white;
    margin-left: 15%;
    margin-top: 3%;
}

.imgSalticas{
    margin-top: 4%;
}

.titulo{
    color: white;
    margin-top: 2%;
    margin-left: 25%;
}

.btn-group{
    margin-top: 4%;
    margin-left: 19%;
}