.txt-ingreso{
    margin-left: 30%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.txt-sec{
    margin-top: 35px;
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.selector {
    margin-top: 20px;
    margin-left: 15%;
}

.ing-cod-prod{
    margin-top: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 7.5%;
    margin-top: 11px;
}

.descripcion-prod{
    white-space: pre-line;
    margin-top: 25px;
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
