.txt-ingreso{
    margin-left: 30%;
    font-size: large;
    color: white;
    font-size: 25px;
}

.mb-3{
    font-size: 20px;
    color: white;
}

.btn-primary{
    background-color: #006EB6;
    
}

.btn-secondary{
    background-color: #F49929;
    margin-top: 2%;
    margin-left: 2%;
    width: 7%;
    height: 6%;
}

.FechaYHora{
    font-size: 18px;
    color: white;
    margin-left: 50%;
    margin-top: 3%;
}

.prodSuperior{
    width: 90%;
}

.custom-autocomplete-panel {
    max-height: 200px; /* Establece la altura máxima del panel */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es demasiado grande */
}
