<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior" />
  <p class="FechaYHora">Fecha y hora: {{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="salidaPagInicio()" type="button" class="btn btn-secondary" data-mdb-ripple-init>
    SALIR</button>
</div>
<h3 class="txt-ingreso">
  {{txtPrincipal}}
</h3>
<div class="container">
  <div class="row">
    <div class="col-4 col-lg-4">
      <form>
        <div class="mb-1">
          <label for="dropdown1" class="form-label">Seleccione nombre SAC</label>
          <select class="form-select py-3" [formControl]="sacControl">
            <option value="" selected disabled>Selecciona una opción</option>
            <option *ngFor="let option of optionsSac" [value]="option.codigo">{{ option.nombre }}</option>
          </select>
        </div>
        <div class="mb-1">
          <label for="dropdown2" class="form-label">Seleccione Turno</label>
          <select class="form-select py-3" [formControl]="turnoControl">
            <option selected>Selecciona una opción</option>
            <option *ngFor="let option of optionsTurno" [value]="option.id">{{ option.descripcion }}</option>
          </select>
        </div>
        <div class="mb-1">
          <label for="dropdown3" class="form-label">Seleccione la Línea</label>
          <select class="form-select py-3" [formControl]="lineaControl">
            <option selected>Seleccione una opción</option>
            <option *ngFor="let option of options" [value]="option.id">{{option.descripcion}}</option>
          </select>
        </div>
        <div class="mb-1">
          <label for="autollenado" class="form-label">Ingrese el código del producto</label>
          <mat-form-field class="w-100">
            <input type="text" placeholder="Ingrese el codígo" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="cargarDescripcion($event)"
              panelClass="custom-autocomplete-panel">
              <mat-option *ngFor="let option of filtroCodigo | async" [value]="option.codigo">
                {{option.codigo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <h3 style="color: white;">{{descrpProd}}</h3>
        </div>
        <div class="buttons-cont d-flex d-flex-center">
          <button (click)="menuInicio()" type="button" class="btn btn-primary mx-auto" data-mdb-ripple-init>
            SIGUIENTE
          </button>                  
        </div>
      </form>
    </div>
    <div class="col-6 col-lg-6">
      <img class="prodSuperior" [src]="imgProdSuperior" />
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<!-- Bootstrap Bundle JS (Popper.js + Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-hp0Dk6qJ9j7xNyPp4FjiP8r4KVtL8fLE6IXj5FbOXlpvALstw8l2JQz7jAxss/L/" crossorigin="anonymous"></script>