<div class="contenido-fijo">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <div>
    <img class="imgSalticas" [src]="imgSalticas"/>
</div>
<h3 class="txt-ingreso">
    {{txtPrincipal}}
</h3>
<div class="cont-column-uno" style="display: flex;">
    <h2 class="txt-sec">{{nameSAC}}</h2>
    <mat-form-field class="selector" style="position: absolute;">
        <mat-label>Nombres SAC</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of optionsSac" [value]="option.nombre">{{option.nombre}}</mat-option>
        </mat-select>
        <mat-hint align="end" style="color: white;">
            Seleccione nombre SAC
        </mat-hint>
    </mat-form-field>
    <div class="cont-column-dos">
        <h2 class="txt-turno">
            TURNO
        </h2>
        <mat-form-field class="selector-turno" style="position: absolute;">
            <mat-label>Turnos</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of optionsTurno" [value]="option.id">{{option.descripcion}}</mat-option>
            </mat-select>
            <mat-hint align="end" style="color: white;">
                Seleccione el turno
            </mat-hint>
        </mat-form-field>
    </div>
</div>
<div class="ing-cod-prod" style="display: flex;">
    <h2 class="txt-sec">{{ingCod}}</h2>
    <form class="cont-cod-prod">
        <mat-form-field>
          <mat-label>Código</mat-label>
          <input type="text"
            placeholder="Código"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="cargarDescripcion($event)">
                <mat-option *ngFor="let option of filtroCodigo | async" [value]="option.codigo">
                    {{option.codigo}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <h2 class="txt-linea">
        LÍNEA
    </h2>
    <mat-form-field class="selector-linea" style="position: absolute;">
        <mat-label>Líneas</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of options" [value]="option.id">{{option.descripcion}}</mat-option>
        </mat-select>
        <mat-hint align="end" style="color: white;">
            Seleccione la línea
        </mat-hint>
    </mat-form-field>
</div>
<h2 class="descripcion-prod" style="white-space: pre-line;">
    {{descrpProd}}
</h2>
<div class="buttons-cont">
    <button class="button-save" (click)="menuInicio()" mat-raised-button color="primary">
        GUARDAR
    </button>
    <button class="button-exit" mat-raised-button (click)="salidaPagInicio()">SALIR</button>
</div>
<router-outlet></router-outlet>