.ingresoCod{
    margin-left: 5%;
    padding: 8px 15px;
    display: inline-block;
    border: 10px solid #82b0f7;
    border-radius: 25px;
}

.cont-cod {
    margin-top: 15%;
    margin-left: 140%;
}

.buttons-cont{
    margin-left: 12%;
    margin-top: 10%;
    display: flex;
}

.button-ingreso{
    margin-right: 50%;
    font-size: medium;
}

.button-salir{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: medium;
}

.txt-cont{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 27px;
}
 
.FechaYHora{
    font-size: 18px;
    color: white;
    margin-left: 58%;
    margin-top: 3%;
}

.imgSalticas{
    margin-top: 3%;
}