<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <h1 class="txt">Ingreso Analistas</h1>
  <div class="buttons-ing d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button" (click)="ingresoAdmin()">ADMINISTRADOR</button>
    <button class="btn btn-primary" type="button">SUPERVISOR</button>
  </div>
  <p class="FechaYHora">{{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="confirmarSalida()" type="button" class="btn btn-secondary" data-mdb-ripple-init>
    SALIR</button>
</div>
<img class="imgSalticas" [src]="imgSalticas"/>
<div class="contenido-pag-inicio">
  <h2 class="txt-cont">{{ txtIng }}</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese aquí su código" aria-label="" 
    aria-describedby="basic-addon1" [(ngModel)]="codigoEmpleado">
    <div class="input-group-append">
      <button (click)="ingresoDatos()" type="button" class="btn btn-primary" data-mdb-ripple-init>
        SIGUIENTE
      </button> 
    </div>
  </div>  
</div>
<router-outlet></router-outlet>