.btn-primary {
    background-color: #006EB6;
}

.btn-secondary {
    background-color: #F49929;
    margin-top: 2%;
    margin-left: 2%;
    width: 7%;
    height: 6%;
}

.txt-cont {
    margin-left: 17%;
    margin-top: 10%;
    color: white;
    font-size: 27px;
}

.FechaYHora {
    font-size: 18px;
    color: white;
    margin-left: 19%;
    margin-top: 3%;
}

.imgSalticas {
    margin-top: 3%;
}

.mb-3{
    margin-top: 3%;
    width: 23%;
    margin-left: 20%;
}

.txt{
    color: white;
    margin-top: 2%;
    margin-left: 25%;
}