<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <h2 class="txt">Página de Inicio</h2>
  <p class="FechaYHora">{{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="confirmarSalida()" type="button" class="btn btn-secondary" data-mdb-ripple-init>
    SALIR</button>
</div>
<img class="imgSalticas" [src]="imgSalticas"/>
<div class="contenido-pag-inicio">
  <h2 class="txt-cont">{{ txtIng }}</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese aquí su código" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-append">
      <button (click)="ingresoDatos()" type="button" class="btn btn-primary" data-mdb-ripple-init>
        SIGUIENTE
      </button>
    </div>
  </div>  
</div>
<router-outlet></router-outlet>


