.detalles-prod,
.txt-detalle-product{
    color: white;
    margin-left: 2%;
}

.FechaYHora{
    font-size: 18px;
    color: white;
    margin-left: 20%;
    margin-top: 3%;
}

.cont-tabla{
    margin-left: 2%;
    width: 96%;
}

.btn-primary{
    background-color: #006EB6;
}

.btn-secondary{
    background-color: #F49929;
    margin-top: 2%;
    margin-left: 2%;
    height: 60%;
}

.contenedor-especificaciones{
    display: flex;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 5px;
    margin-top: 1%;
    width: 13%;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.boton-registro {
    display: flex;
    align-items: center;
}

.titulo{
    color: white;
    margin-top: 2%;
    margin-left: 20%;
}