<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <h2 class="titulo">Parametros Adicionales</h2>
  <p style="display: flex;" class="FechaYHora">{{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="menuIng()" type="button" class="btn btn-secondary" data-mdb-ripple-init>
      SALIR</button>
</div>
<div>
  <h2 class="detalles-prod" *ngIf="productoSeleccionado">
    Codigo producto: {{ productoSeleccionado.codigoProducto }}
  </h2> 
  <h2 class="txt-detalle-product" *ngIf="productoSeleccionado">
    Detalles producto: {{ productoSeleccionado.description }}
  </h2>  
</div>
<div class="cont-tabla">
  <form [formGroup]="formulario">
    <table class="table table-striped-columns table-hover">
      <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th>No. Parámetros</th>
          <th>Detalle Parametro</th>
          <th>Min</th>
          <th>Max</th>
          <th>Dato Parámetro</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" formArrayName="registros">
        <tr *ngFor="let registro of registrosFormArray.controls; let i = index" [formGroupName]="i">
          <td>{{ i + 1 }}</td> <!-- Aquí sumamos 1 al índice -->
          <td>{{ parametros[i].descripcion }}</td>
          <td>{{ parametros[i].min }}</td>
          <td>{{ parametros[i].max }}</td>
          <td><input
            formControlName="datoParametro"
            type="number" 
            class="form-control"
            style="border-color: black;"></td>
        </tr>
      </tbody>   
    </table>
  </form>
</div>
<div style="display: flex;">
  <button (click)="submitForm()" type="button" class="btn btn-primary" data-mdb-ripple-init>
    GUARDAR</button>
</div>