.txtingreso{
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

.ingreso-datos{
    margin-top: 30px;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
}