<div class="detalles-prod">
    <h2>
        Codigo producto:
    </h2>
    <h2 class="txt-detalle-product">
        Detalles producto:
    </h2>
</div>
<div class="cont-txt-params">
    <h3 class="txt">
        Parámetro
    </h3>
    <h3 class="txt">
        Min
    </h3>
    <h3 class="txt">
        Max
    </h3>
    <h3 class="txt">
        Parámetro Zona 1
    </h3>
    <h3 class="txt">
        Parámetro Zona 2
    </h3>
    <h3 class="txt">
        Parámetro Zona 3
    </h3>
</div>
<div class="parametros">
    Temperatura Masa
    <br>
    <br>
    Peso Formado
    <br>
    <br>
    Peso Seco
    <br>
    <br>
    Espesor
    <br>
    <br>
    Largo
    <br>
    <br>
    Ancho
    <br>
    <br>
    Humedad
    <br>
    <br>
    ph Galleta
</div>
<div class="buttons-cont">
    <button class="button-guardar" [routerLink]="['/menu-inicio']" mat-raised-button color="primary">
      GUARDAR
    </button>
    <button class="button-salir" mat-raised-button>SALIR</button>
</div>