<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <p class="FechaYHora">{{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="salidaPagInicio()" type="button" class="btn btn-secondary" data-mdb-ripple-init>
    SALIR</button>
</div>
<div class="contenedor">
  <div class="detalles-container">
    <h2 class="detalles-prod">
      Codigo producto: {{productoSeleccionado.codigo}}
    </h2>
    <h2 class="txt-detalle-product">
      Detalles producto: {{productoSeleccionado.descripcion}}
    </h2>
  </div>
  <div class="boton-registro">
    <button (click)="menuIng()" type="button" class="btn btn-primary" data-mdb-ripple-init>
      REGISTRAR</button>
  </div>
</div> 
<div class="cont-tabla" style="max-height: 410px; overflow-y: scroll">
  <table class="table table-striped-columns table-hover">
    <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
      <tr>
        <th>Parametro</th>
        <th>Min</th>
        <th>Max</th>
        <th>Parámetro Zona 1</th>
        <th>Parámetro Zona 2</th>
        <th>Parámetro Zona 3</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let parametro of parametros">
        <td>{{ parametro.descripcion }}</td>
        <td>{{ parametro.min }}</td>
        <td>{{ parametro.max }}</td>
        <td><input type="text" class="form-control" [(ngModel)]="parametro.paramZona1"></td>
        <td><input type="text" class="form-control" [(ngModel)]="parametro.paramZona2"></td>
        <td><input type="text" class="form-control" [(ngModel)]="parametro.paramZona3"></td>
      </tr>
    </tbody>
  </table>
</div>
