.detalles-prod{
    margin-left: 2%;
    color: white;
}

.txt-detalle-product{
    color: white;
    margin-left: 2%;
}

.button-guardar{
    margin-right: 50%;
    font-weight: bold;
}

.buttons-cont{
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
}

.cont-tabla{
    margin-left: 2%;
    width: 95%;
}

.mat-mdc-table {
    width: 80%;
    max-height: 300px;
    overflow: auto; 
  }
  
.mat-column-name {
    height: 90px;
}