.txt{
    color: white;
    text-align: center;
    margin-top: 5%;
}

.button-empaque,
.button-proceso{
    margin-top: 5%;
    margin-left: 25%;
    font-weight: bold;
}

.button-exit{
    display: 1;
    margin-top: 20%;
}