.txt{
    color: white;
    text-align: center;
    margin-top: 5%;
}

.imgSalticas{
    margin-top: 5%;
}

.text-white{
    margin-top: 10%;
    margin-left: 30%;
}

.FechaYHora{
    font-size: 18px;
    color: white;
    margin-top: 2%;
    margin-left: 58%;
}

.btn-salir{
    margin-left: 5%;
    height: 45px;
    width: 110px;
}