<div style="display: flex;">
    <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
    <p class="FechaYHora">Fecha y hora: {{ fechaYHoraActual | date: 'medium' }}</p>
</div>
<img class="imgSalticas" [src]="imgSalticas"/>
<h1 class="txt">
    QUE FUNCIÓN DESEA REALIZAR
</h1>
<div style="display: flex; justify-content: space-between;">
    <button class="button-proceso" (click)="ingresoProceso()" mat-raised-button color="primary">
        PROCESO
    </button>
    <button class="button-empaque" (click)="ingDatosEmp()" mat-raised-button color="primary">
        EMPAQUE
    </button>
</div>
<button class="button-exit" mat-raised-button (click)="salidaPagInicio()">SALIR</button>
<router-outlet></router-outlet>