.txt{
    color: white;
    text-align: center;
    margin-top: 5%;
}

.imgSalticas{
    margin-top: 5%;
}

.button-empaque{
    margin-top: 5%;
    margin-right: 15%;
}
.button-proceso{
    margin-top: 5%;
    margin-left: 15%;
}

.button-exit{
    margin-top: 8%;
    margin-left: 28%;
}

.FechaYHora{
    font-size: 18px;
    color: white;
    margin-left: 58%;
    margin-top: 3%;
}