<div class="contenido-fijo">
    <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
    <div>
      <img class="imgSalticas" [src]="imgSalticas"/>
</div>
<h1 class="txt">
    QUE FUNCIÓN DESEA REALIZAR
</h1>
<div style="display: flex;">
    <button class="button-proceso" (click)="ingresoProceso()" mat-raised-button color="primary">
        PROCESO
    </button>
    <button class="button-empaque" (click)="ingDatosEmp()" mat-raised-button color="primary">
        EMPAQUE
    </button>
    <button class="button-exit" mat-raised-button>SALIR</button>
</div>
<router-outlet></router-outlet>