<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <p class="FechaYHora">{{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="salida()" type="button" class="btn btn-secondary" data-mdb-ripple-init>
    SALIR</button>
</div>
<div class="contenedor">
  <div class="detalles-container">
    <h2 class="detalles-prod">
      Codigo producto: {{productoSeleccionado.codigo}}
    </h2>
    <h2 class="txt-detalle-product">
      Detalles producto: {{productoSeleccionado.descripcion}}
    </h2>
  </div>
  <div>
    <button (click)="empaqueGalletaRota()" type="button" class="btn btn-primary" data-mdb-ripple-init>
      REGISTRAR</button>
  </div>
</div> 
<div class="cont-tabla" style="max-height: 300px; overflow-y: scroll;">
  <table class="table table-striped-columns table-hover">
    <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
      <tr>
        <th>No. Muestras</th>
        <th>Dato Peso Primario</th>
        <th>Dato Peso Secundario</th>
        <th>Dato Peso Corrugado</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let parametro of parametros; let i = index">
        <td>{{ i + 1 }}</td> <!-- Aquí sumamos 1 al índice -->
        <td><input type="text" class="form-control" [(ngModel)]="parametro.columna1"></td>
        <td><input type="text" class="form-control" [(ngModel)]="parametro.columna2"></td>
        <td><input type="text" class="form-control" [(ngModel)]="parametro.columna3"></td>
      </tr>
    </tbody>   
  </table>
</div>
<br>
<div style="display: flex;">
  <div class="contenedor-especificaciones">
    <mat-tab-group>
      <mat-tab label="Peso Primario (g)">
        <ng-container *ngFor="let param of parametros">
          <div *ngIf="param.descripcion === 'Peso Primario (g)'">
            <span>Mínimo:</span>
            <span style="margin: 10%;">
              {{ param.min }}
            </span>
            <br> 
            <span>Máximo:
            </span> 
            <span style="margin-left: 9%;">
              {{ param.max }}
            </span>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Peso Secundario (g)">
        <ng-container *ngFor="let param of parametros">
          <div *ngIf="param.descripcion === 'Peso Secundario (g)'">
            <span>Mínimo:</span>
            <span style="margin-left: 10%;">
              {{ param.min }}
            </span>
            <br> 
            <span>Máximo:
            </span> 
            <span style="margin-left: 9%;">
              {{ param.max }}
            </span>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Peso Caja (g)">
        <ng-container *ngFor="let param of parametros">
          <div *ngIf="param.descripcion === 'Peso Caja (g)'">
            <span>Máximo:
            </span> 
            <span style="margin-left: 10%;">
              {{ param.unidadMedida }}
            </span>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>  
  </div>
  <button 
    (click)="menuIng()" 
    type="button" 
    class="btn btn-secondary"
    style="margin-left: 20%;" 
    data-mdb-ripple-init>
    ATRÁS</button>
</div>