<div style="display: flex;">
  <img class="logoSuperior" [src]="imgSuperior" alt="Imagen Corporación Superior"/>
  <p class="FechaYHora">{{ fechaYHoraActual | date: 'medium' }}</p>
  <button (click)="salida()" type="button" class="btn btn-secondary" data-mdb-ripple-init>
    SALIR</button>
</div>
<div class="contenedor">
  <div class="detalles-container">
    <h2 class="detalles-prod">
      Codigo producto: {{productoSeleccionado.codigoProducto}}
    </h2>
    <h2 class="txt-detalle-product">
      Detalles producto: {{productoSeleccionado.description}}
    </h2>
  </div>
  <div>
    <button 
    (click)="submitForm()"
    type="button" 
    class="btn btn-primary"
    data-mdb-ripple-init>
      GUARDAR</button>
  </div>
</div>
<div class="cont-tabla" style="max-height: 300px; overflow-y: scroll;">
  <form [formGroup]="formulario" (ngSubmit)="submitForm()">
    <table class="table table-striped-columns table-hover">
      <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          <th>No. Muestras</th>
          <th>Dato Peso Primario</th>
          <th>Dato Peso Secundario</th>
          <th>Dato Peso Corrugado</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" formArrayName="registros">
        <tr *ngFor="let registro of registrosFormArray.controls; let i = index" [formGroupName]="i">
          <td>{{ i + 1 }}</td>
          <td><input
            formControlName="datoPesoPrimario"
            type="number" 
            class="form-control"
            style="border-color: black;" 
          ></td>
          <td><input
            formControlName="datoPesoSecundario"
            type="number" 
            class="form-control" 
            style="border-color: black;"
          ></td>
          <td><input
            formControlName="datoPesoCorrugado"
            type="number" 
            class="form-control" 
            style="border-color: black;"
          ></td>
        </tr>
      </tbody>      
    </table>
  </form>
</div>
<br>
<div style="display: flex;">
  <div class="contenedor-especificaciones">
    <mat-tab-group>
      <mat-tab label="Peso Primario (g)">
        <ng-container *ngFor="let param of parametros">
          <div *ngIf="param.descripcion === 'Peso Primario (g)'">
            <span>Mínimo:</span>
            <span style="margin: 10%;">
              {{ param.min }}
            </span>
            <br> 
            <span>Máximo:
            </span> 
            <span style="margin-left: 9%;">
              {{ param.max }}
            </span>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Peso Secundario (g)">
        <ng-container *ngFor="let param of parametros">
          <div *ngIf="param.descripcion === 'Peso Secundario (g)'">
            <span>Mínimo:</span>
            <span style="margin-left: 10%;">
              {{ param.min }}
            </span>
            <br> 
            <span>Máximo:
            </span> 
            <span style="margin-left: 9%;">
              {{ param.max }}
            </span>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Peso Caja (g)">
        <ng-container *ngFor="let param of parametros">
          <div *ngIf="param.descripcion === 'Peso Caja (g)'">
            <span>Máximo:
            </span> 
            <span style="margin-left: 10%;">
              {{ param.unidadMedida }}
            </span>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>  
  </div>
  <button 
    (click)="atras()" 
    type="button" 
    class="btn btn-secondary"
    style="margin-left: 20%;" 
    data-mdb-ripple-init>
    ATRÁS</button>
</div>