.detalles-prod,
.txt-detalle-product{
    margin-left: 2%;
    color: white;
}

.texto-estatico{
    margin-left: 4%;
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

.txt-detalle-product{
    color: white;
    margin-left: 2%;
}

.btn-primary{
    margin-top: 30%;
    margin-right: 15px;
    background-color: #006EB6;
}

.btn-secondary{
    background-color: #F49929;
    margin-top: 3%;
    margin-left: 2%;
    width: 7%;
    height: 6%;
}

.FechaYHora{
    font-size: 18px;
    color: white;
    margin-left: 57%;
    margin-top: 3%;
}

.table{
    width: 97%;
    margin-left: 2%;
}

.contenedor{
    display: flex;
    margin-right: 2%;
}

.detalles-container {
    flex-grow: 1; /* Permite que este contenedor ocupe todo el espacio restante */
}

.cont-tabla-wrapper {
    max-height: 400px;
    overflow-y: scroll;
}

.contenedor-especificaciones{
    display: flex;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0.849);
    width: 42%;
    border-radius: 5px;
}

.detalle-peso-primario{
    display: flex; 
    margin: 5%;
}
